{% extends 'partials/body.html' %}

{% block container %}
    <h2>{{titulo}}</h2>
    <a class="btn btn-primary " href="{% url 'usuarios-crear' %}">Crear</a>
  
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Tipo Documento</th>
                <th scope="col">No. Documento</th>
                <th scope="col">e-mail</th>
                <th scope="col">Rol</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>

            </tr>
        </thead>
        <tr>
            
            {% for usuario in usuarios  %}
                <tr>
                    
                    {% if usuario.usuarioActivo == '1' %}               
                        <th scope="row">{{usuario.usuarioNombre}}</th>
                        <td>{{usuario.usuarioApellido}}</td>
                        <td>{{usuario.usuarioTipoDocumento}}</td>
                        <td>{{usuario.usuarioNumeroDocumento}}</td>
                        <td>{{usuario.usuarioCorreo}}</td>
                        <td>{{usuario.usarioRol}}</td>
                        <td>{{usuario.usuarioActivo}}</td>
                        <td><a class="btn btn-primary" href="{% url 'usuarios-editar' usuario.id %}"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-danger" href="{% url 'usuarios-eliminar' usuario.id %}"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
           
        </tr>
    </table>
{% endblock container %}
    