<!-- aqui empieza el footer-->
{% load static %}
<div class="container bg-dark">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
       <div class="col-md-4 d-flex align-items-center">
           <span class="mb-3 mb-md-0  ms-3 text-light">&copy; Sincrón Diseño Electronico S.A.S </span>
        </div>
       <div class="col-md-1 d-flex align-items-center">
           <span class="mb-3 mb-md-0  ms-3 text-light"> versión 0.0.1 </span>
       </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
           <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/sincronsas/" target="_blank" rel="noopener noreferrer"><img src="{% static 'img/instagram.webp' %}" svg class="bi" width="24" height="24"></svg></a></li>
           <li class="ms-3"><a class="text-muted" href="https://co.linkedin.com/in/sincronsas" target="_blank" rel="noopener noreferrer"><img src="{% static 'img/linkedin.webp' %}" svg class="bi" width="24" height="24"></svg></a></li>
           <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/sincronsas/"  target="_blank" rel="noopener noreferrer"><img src="{% static 'img/facebook.webp' %} " svg class="bi" width="24" height="24"></svg></a></li>
         </ul>
   </footer>
</div>


<!-- aqui termina el footer-->