<!-- aqui empieza el header-->
{% load static %}
<div class="container  ">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between p-2 mb-3  border-bottom">
        <a href="https://www.sincron.co/" target="_blank" rel="noopener noreferrer" class="d-flex align-items-center col-md-1 mb-2 mb-md-0 text-dark text-decoration-none">
            <img class="bi me-2" width="250" height="70" role="img" src="{% static 'img/LogoHorizontal.webp' %}" alt="logo sincron.co"></a>        
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-dark">Inicio</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Gestión</a></li>
            <li><a href="#" class="nav-link px-2 link-dark d-block link-dark text-decoration-none "  data-bs-toggle="dropdown" aria-expanded="false"> Configuracíon</a>
                <ul class="dropdown-menu text-small ">
                    <li><a class="dropdown-item" href="#">Usuairios</a></li>
                    <li><a class="dropdown-item" href="#">Estado de gestión</a></li>
                    <li><a class="dropdown-item" href="#">Servicio orfrecido</a></li>
                    <li><a class="dropdown-item" href="#">categoria </a></li>
                    <li><a class="dropdown-item" href="#">Servicio orfrecido</a></li>
                </ul> 
            </li>
            <li><a href="#" class="nav-link px-2 link-dark">Auditoria</a></li>

        
        </ul>
    
        <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src=" {% static 'img/iconoUsuario.jpg' %}" alt="usuario" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small ">
                <li><a class="dropdown-item" href="#">A. Torres</a></li>
                <li><a class="dropdown-item" href="#">Cambiar contraseña</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
            </ul> 
        </div>

    </header>
</div>
<!-- aqui termina el header-->